/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.box-content {
    background: white;
    padding: 1em 1em;
    border: 1px solid #ddd;
    border-radius: 4px;
    height: 100%;
}
.container{
    padding: 8px 16px 16px 16px;
}
.mat-button-toggle-label-content {
    line-height: 36px !important;  
    padding: 0  7.5px !important;
}